.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header header header"
    "nav nav nav"
    ". main ads"
    "footer footer footer";

}
header{
    background-color: lightgray;
}
main{
    background-color: lightblue;
}
aside{
    background-color: lightyellow;
    }
nav{
 background-color: lightcoral;
 display: flex;
 justify-content: center;
}
footer{
    background-color: lightgoldenrodyellow;
}
#nav-menu{
    display: flex;
    list-style-type: none;
}
#nav-menu li{
    margin: 0 4px;
    padding: 0 4px;
}