.container{
    /* border-width: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    display: flex;
    
}
.child{
    width: 50%;
    
}
.green{
    border: 1px solid green;
}
.blue{
    border: 1px solid blue;
}